/* SECTION 1 */

#section1 .slider-container {
  padding-top: 48px;
  padding-bottom: 60px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-wrapper {
  max-width: var(--container-content-width);
  margin-left: 48px;
  margin-right: 48px;
  transition: all 0.5 ease-in;
}

@media screen and (max-width: 1610px) {
  .slider-wrapper {
    width: 1100px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 1120px) {
  .slider-wrapper {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
  }
}
main {
  z-index: 0;
}
.slider-content {
  /* z-index: -1; */
}

.slider-item {
  padding: 8px;
  /* max-width: 1320px; */
  /* width: 800px; */
}

.slider-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 496px;
  border: var(--border-default);
}
.slick-current .slider-item-wrapper {
  box-shadow: 8px 8px 0px var(--gray-2);
}
.slider-item-header {
  background-color: var(--gray-6);
}

.slick-current .slider-item-header {
  background-color: var(--primary-green);
}
.slider-item-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 72px;
  background-color: var(--secondary-yellow-light1);
}

@media screen and (max-width: 1120px) {
  .slider-item-content {
    flex-direction: column-reverse;
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
  }
  .left-content p,
  .left-content button {
    display: none;
  }
}

.left-content {
  max-width: 500px;
  margin-right: 24px;
}

@media screen and (max-width: 1120px) {
  .left-content {
    width: 100%;
    margin-right: 0;
    max-width: initial;
    padding: 24px 16px;
  }
}

@media screen and (max-width: 860px) {
  .left-content h2 {
    font-size: 25px;
    line-height: 32px;
  }
}
.left-content p {
  margin-top: 32px;
  margin-bottom: 32px;
}

.right-content {
  /* max-width: 552px; */
  height: 509px;
  box-shadow: 8px 8px 0px #2e2d2c;
}

@media screen and (max-width: 1610px) {
  .right-content {
    height: 409px;
  }
}

@media screen and (max-width: 1120px) {
  .right-content {
    height: 309px;
    width: 100%;
    box-shadow: none;
  }
}

@media screen and (max-width: 660px) {
  .right-content {
    height: 200px;
  }
}

.right-content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1380px) {
  .slider-nav-btn {
    display: none;
  }
}

.slider-nav-btn button {
  padding: 21px 18px;
  border: var(--border-default);
  background-color: var(--primary-green);
  box-shadow: 8px 8px 0px #2e2d2c;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.slider-nav-btn button:active {
  box-shadow: inset 8px 8px 0px #2e2d2c;
}

.slider-nav-btn[aria-disabled="true"] button {
  background-color: var(--gray-6);
  box-shadow: none;
}

/* .slick-arrow {
  padding: 21px 18px;
  border: var(--border-default);
  background-color: var(--primary-green);
  width: auto;
  height: auto;
  box-sizing: border-box;
} */
.slider-nav-btn button:disabled {
  padding: 21px 18px;
  border: var(--border-default);
  background-color: var(--gray-6);
}
.slider-nav {
  margin-top: 40px;
}
.number-nav {
  border: var(--border-default);
  display: flex;

  border-radius: 2px;
  width: fit-content;
  gap: 3px;
}
.number-nav button {
  padding: 1px 12px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.number-nav button.active {
  background-color: var(--primary-yellow);
  border-left: var(--border-default);
  border-right: var(--border-default);
}
.number-nav button.active:first-child {
  background-color: var(--primary-yellow);
  border-right: var(--border-default);
  border-left: none;
}
.number-nav button.active:last-child {
  background-color: var(--primary-yellow);
  border-left: var(--border-default);
  border-right: none;
}

.slick-slider {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* SECTION 2 */
/* .Title{
  display: inline-block;
} */

#news-section {
  background-color: var(--gray-5);
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 128px;
}

.container .Title {
  margin-bottom: 48px;
}
#news-container.window .window-body {
  max-width: 996px;
  width: auto;
}
#news-section .section-body-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
#news-section .window-body {
  display: flex;
  padding: 40px 20px;
}
.news-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
  /* flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center; */
  margin-bottom: 40px;
  /* perspective: 10px; */
}

.news-item {
  /* max-width: 416px; */
  border: var(--border-default);
  cursor: pointer;
  transform-style: preserve-3d;
  /* perspective: none; */
}
.news-item img {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.25s ease-in-out;
}

.news-item.active img {
  filter: grayscale(0);
}
.news-item-content {
  padding: 12px;
}
.news-item-content .body2 {
  margin-top: 12px;
}
.news-item-content .desktop {
  display: block;
}
.news-item-content .mobile {
  display: none;
}

@media screen and (max-width: 970px) {
  .news-items {
    column-gap: 16px;
    row-gap: 24px;
    margin-bottom: 24px;
  }
  .news-item-content p {
    display: none;
  }
  .news-item-content .desktop {
    display: none;
  }
  .news-item-content .mobile {
    display: block;
  }
}
@media screen and (max-width: 714px) {
  .news-item {
    /* max-width: 210px;
    gap: 24px 16px; */
  }
}
@media screen and (max-width: 514px) {
  .news-item {
    /* max-width: 162px;
    gap: 24px 16px; */
  }
}
.news-item.active,
.rank-item.active {
  background-color: var(--secondary-yellow-light1);
  box-shadow: var(--box-shadow-default);
  transition: all 0.25s ease-in-out;
  perspective: 120px;
}

.news-nav {
  display: flex;
  justify-content: flex-end;
  /* transform: translateX(264px);
  gap: 16px; */
}
@media screen and (max-width: 1223px) {
  /* .news-nav {
    transform: translateX(0);
    justify-content: center;
  } */
}
@media screen and (max-width: 1280px) {
  .news-rank {
    display: none;
  }
}

@media screen and (max-width: 491px) {
  .news-nav {
    /* justify-content: space-between;
    max-width: 354px; */
    margin: auto;
  }
}

@media screen and (max-width: 497px) {
  .news-nav {
    justify-content: space-between;
    flex-direction: column;
  }
}

.wrapper {
  /* max-width: calc(2 * 416px + 32px); */
}
.news-rank {
  height: fit-content;
  min-width: 306px;
}
.rank-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.rank-item img {
  filter: grayscale(1);
  transition: 0.25s ease-in-out;
}
.rank-item.active img {
  filter: grayscale(0);
}
.rank-item {
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.rank-item-content {
  border-top: var(--border-default);
  border-right: var(--border-default);
  border-bottom: var(--border-default);
  padding: 13px 13px 21px;
  width: 173px;
}

/* SECTION GAME TYPE */

/* section {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 128px;
} */

#section-game-type .container {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 128px;
}

.tabpanel-item {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  border: var(--border-default);
  justify-content: center;
}

.tabpanel-item.active {
  display: flex;
}

.tabpanel-item .note {
  align-self: flex-start;
  padding-left: 110px;
  padding-right: 110px;
}
@media screen and (max-width: 813px) {
  .tabpanel-item {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .tabpanel-item .note {
    display: none;
  }
}

.game-types {
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 56px;
  padding: 0px 12px;
}
@media screen and (max-width: 813px) {
  .game-types {
    margin-top: 0;
  }
}

.game-type-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.game-type-item img {
  filter: grayscale(1);
  transition: all 0.25s ease-in-out;
}
.game-type-item.active img {
  filter: grayscale(0);
}
.game-type-item.active {
  box-shadow: 8px 8px 0px var(--gray-2);
  background-color: var(--secondary-yellow-light1);
}

.game-type-item .content {
  display: flex;
  flex-direction: column;
  padding: 21px;

  border-top: var(--border-default);
  border-right: var(--border-default);
  border-bottom: var(--border-default);

  max-width: 241px;
  min-width: 186px;
}
.game-type-item .content .subtitle1 {
  margin-bottom: 12px;
}
.game-type-item img.mobile {
  display: none;
}
.game-type-item .content .mobile {
  display: none;
}
@media screen and (max-width: 813px) {
  .game-type-item .content .body2,
  .game-type-item .content .desktop {
    display: none;
  }
  .game-type-item .content .mobile {
    display: block;
  }

  .game-type-item img {
    display: none;
  }
  .game-type-item img.mobile {
    display: block;
  }
}

/* TAB */
.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.tab {
  border: var(--border-default);
  border-bottom: none;

  padding: 8px 32px;
  background-color: var(--gray-5);

  font-size: 20px;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
  /* letter-spacing: -2%; */
  color: var(--gray-2);
  line-height: 26px;

  position: relative;
  left: -3px;

  cursor: pointer;

  transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
@media screen and (max-width: 813px) {
  .tab {
    padding: 8px 9px;
  }
}

.tab:first-child {
  left: 3px;
}

.tab.active {
  background-color: var(--gray-6);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  position: relative;
  bottom: -3px;
  left: 0;
}

/*  */
#tentuoilanggame {
  background-color: var(--gray-5);
}

#tentuoilanggame .container {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 128px;
}
#tentuoilanggame .window-body {
  padding-top: 88px;
  padding-bottom: 138px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tentuoilanggame .window-body .window-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 12px;
}
#tentuoilanggame .window-body .window-content .right {
  position: relative;
}
#tentuoilanggame .window-body .window-content .right button {
  position: absolute;
  right: 0;
  bottom: -90px;
}
#tentuoilanggame .window-body .window-content .right img {
  height: 100%;
}

#tentuoilanggame .window-content .game-item {
  display: flex;
  flex-direction: row;
  height: 145px;
  cursor: pointer;
  /* justify-content: center; */
}
#tentuoilanggame .window-content .game-item .content {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  padding: 21px 24px;

  border-top: var(--border-default);

  /* border-bottom: var(--border-default); */
}

#tentuoilanggame .window-content .game-item.active .content {
  background-color: var(--secondary-yellow-light1);
}

#tentuoilanggame .window-content .game-item:last-child .content {
  /* border-top: none; */
  border-bottom: var(--border-default);
}

#tentuoilanggame .window-content .game-item .mark {
  border: var(--border-default);
  border-bottom: none;
  width: 27px;
}
#tentuoilanggame .window-content .game-item:last-child .mark {
  border-bottom: var(--border-default);
}

#tentuoilanggame .window-content .game-item.active .mark {
  background-color: var(--primary-yellow);
}

#tentuoilanggame .window-content .game-item .game-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;

  font-size: 25px;
  line-height: 32px;
  color: var(--gray-2);

  margin-bottom: 16px;
}

@media screen and (max-width: 813px) {
  .game-item .game-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
}
#tentuoilanggame .window-body .window-content-mobile {
  display: none;
}
@media screen and (max-width: 1120px) {
  #tentuoilanggame .window-body {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  #tentuoilanggame .window-body .window-content {
    display: none;
  }
  #tentuoilanggame .window-body .window-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 800px; */
    justify-content: center;
    /* padding: ; */
  }

  #tentuoilanggame .window-content-mobile .navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    margin-top: 40px;
    max-width: 358px;
  }

  #tentuoilanggame .window-content-mobile .game-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* min-width: 288px; */
    /* align-items: stretch; */
    /* width: fit-content; */
    /* justify-content: space-between; */
    row-gap: 24px;
    column-gap: 24px;
  }

  #tentuoilanggame .window-content-mobile .game-item {
    /* max-width: 358px;
    min-width: 288px; */
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* flex: 50%; */
    /* align-items: center; */
  }

  #tentuoilanggame .window-content-mobile .game-item.active {
    background-color: var(--secondary-yellow-light1);
    box-shadow: var(--box-shadow-default);
  }

  #tentuoilanggame .window-content-mobile .game-item img {
    width: 100%;
    filter: grayscale(1);
    transition: all 0.25s ease-in-out;
  }

  #tentuoilanggame .window-content-mobile .game-item.active img {
    filter: grayscale(0);
  }

  #tentuoilanggame .window-content-mobile .game-item .content {
    padding: 12px;
    border: var(--border-default);
    border-top: none;
  }
}

@media screen and (max-width: 860px) {
  #tentuoilanggame .window-body .window-content-mobile {
    padding: 0 8px;
  }
  #tentuoilanggame .window-content-mobile .game-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #tentuoilanggame .window-content-mobile .game-item {
    /* max-width: 358px;
    min-width: 288px; */
    max-width: 500px;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* flex: 50%; */
    /* align-items: center; */
  }

  #tentuoilanggame .window-content-mobile .navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: inherit;
    width: 100%;
    margin-top: 24px;
    max-width: 358px;
  }
}
